@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');

:root {
	--schoman-primary: #4682b4;
	--schoman-dimmed: #5496bf;
	--schoman-dark: #0d2556;
	--schoman-secondary: #ffd648;
	--schoman-grey: #808080;
	--schoman-muted: #b2b2b2;
}

.bg-schoman-primary {
	background-color: var(--schoman-primary);
}

.bg-schoman-secondary {
	background-color: var(--schoman-secondary);
}

.bg-schoman-dark {
	background-color: var(--schoman-dark);
}

.font-montserrat {
	font-family: 'Montserrat', sans-serif;
}

.font-playfair {
	font-family: 'Playfair Display', serif;
}

.text-schoman-muted {
	color: var(--schoman-muted);
}
.logo {
	height: 4em;
}

.coin {
	height: 3em;
	aspect-ratio: 1;
}

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hero-image {
	max-height: 80vh;
	object-fit: cover;
	object-position: center;
}

#carousel img {
	aspect-ratio: 1;
	object-fit: cover;
	object-position: center;
}

#ongoing img {
	aspect-ratio: 1;
	object-fit: cover;
	object-position: center;
}

.carousel-indicators > button {
	width: 10px !important;
	height: 10px !important;
	border-radius: 50% !important;
	transform: translate(0, 3em);
}

#registration-container {
	background-size: cover;
	background-position: center;
}

#registration-container .row {
	height: 100%;
}

#registration-container button {
	position: absolute;
	bottom: 0.5em;
	left: 50%;
	transform: translate(-50%, -50%);
}

.guide-image {
	aspect-ratio: 16/9;
	object-fit: cover;
	object-position: center;
}

#information-container > img {
	aspect-ratio: 16/9;
	background-size: cover;
	background-position: center;
}

#further {
	background-size: fill;
	background-position: center;
}

.divider {
	height: 3px;
	background-color: black;
}

.social-coin {
	aspect-ratio: 1;
}

.social-icon {
	height: 1.5em;
}

@media (min-width: 768px) {
	.social-icon {
		height: 2.5em;
	}
}